@tailwind base;
@tailwind components;
@tailwind utilities;
 
body{
    font-family: 'Poppins', sans-serif;
}

.glassmorphism-red{
    background: rgba( 255, 3, 3, 0.45 );
    box-shadow: 0 2px 12px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 17px );
    -webkit-backdrop-filter: blur( 17px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.glassmorphism-blue{
    background: rgba( 74, 144, 226, 0.25 );
    box-shadow: 0 2px 12px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 17px );
    -webkit-backdrop-filter: blur( 17px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.custom-scroll-bar{
    position: relative;
    margin-left: 2px;
  }
  
  .custom-scroll-bar::-webkit-scrollbar{
    appearance: none;
    position: relative;
    left: -20px;
    width: 7.5px;
    border-radius: 10px;
    scrollbar-width: thin;
    margin-right: -12px;
    padding: 10px;
  }
  
  .custom-scroll-bar::-webkit-scrollbar-thumb{
    @apply bg-blue-600;
    border-radius: 10px;
  }